.ball {
  position: fixed;
  height: 200vw;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  animation: fadeIn 5s ease-in-out;
  top: 0;
  left: 0;
  @media screen and (min-width: "768px") {
    height: 50vw;
  }
  :first-child {
    transform: scale(1.5);
    @media screen and (min-width: "768px") {
      transform: scale(1);
    }
  }
}

.ballFast {
  @extend .ball;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
