.parallax {
  z-index: -1;
}
.sectionWrap {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.wrapper {
  padding-top: 1%;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  > * {
    width: 100%;
  }

  @media screen and (min-width: '768px') {
    justify-content: space-between;
    > * {
      width: 45%;
    }
  }
}
