$line-lenght: 15%;

.container {
  border-color: var(--timeline-dark);
  box-shadow: var(--timeline-dark);
}

.containerLight {
  border-color: var(--timeline-light);
  box-shadow: var(--timeline-light);
}

.wrapper {
  display: flex;
  flex-direction: column;
  border-color: inherit;
  border-left: 5px solid;
  padding: 25px 0 25px;
  box-shadow: -10px 0 8px -10px;
  border-radius: 5px;
  margin-bottom: 50px;

  @media screen and (min-width: '768px') {
    flex-direction: row;
    border-left: 0;
    border-bottom: 5px solid;
    padding: 0 25px 0;
    box-shadow: 0 10px 8px -10px;
    margin-bottom: 70px;
  }
}

.event {
  display: flex;
  margin: 10px 0 10px;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: inherit;

  @media screen and (min-width: '768px') {
    align-items: flex-end;
    margin: 0 10px 0;

    :nth-child(4) {
      text-align: right;
    }
  }
}

.line {
  width: $line-lenght;
  height: auto;
  border-color: inherit;
  border: 2px solid;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  @media screen and (min-width: '768px') {
    width: auto;
    height: $line-lenght;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 0%;
  }
}

.text {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  text-align: center;

  :nth-child(1) {
    color: var(--orange);
  }

  @media screen and (min-width: '768px') {
    margin-left: auto;
    margin-bottom: 50px;
  }
}

.textLight {
  @extend .text;
  :nth-child(1) {
    color: var(--brown);
  }
}

.date {
  margin: 0 5px 0;
  font-size: 0.8rem;

  @media screen and (min-width: '768px') {
    font-size: 0.9rem;
  }
}
