$border-color: var(--pink);

.wrapper{
    display: flex;
    flex-direction: column;
    border-left: 5px solid $border-color;
    padding: 50px 0 50px;
    box-shadow: -10px 0 10px -10px var(--transparent-white);

    @media screen and (min-width: "768px"){
        flex-direction: row;
        border-left: 0;
        border-bottom: 5px solid $border-color;
        padding: 0 50px 0;
        box-shadow: 0 10px 10px -10px $border-color;
    }
}

.event{
    display: flex;
    margin: 10px 0 10px;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: inherit;
    
    @media screen and (min-width: "768px"){
        align-items: flex-end;
        margin: 0 10px 0;
        
        :nth-child(4){
            text-align: right;
        }
    }
    
}

.line{
    width: 30%;
    height: auto;
    border: 2px solid $border-color;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    @media screen and (min-width: "768px"){
        width: auto;
        height: 30%;
        border-top-left-radius: 100%;
        border-bottom-right-radius: 0%;

    }
}

.text{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    text-align: center;

    :nth-child(1){
        color: var(--orange);
    }

    @media screen and (min-width: "768px"){
        margin-left: auto;
        margin-bottom: 50px;
    }
}

.date{
    color: var(--pink);
}