.input{
    padding: 9px;
    border-radius: 10px;
    margin: 2px;
    width: 15px;
    height: 20px;
    background-color: #ffffffa6;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    
    @media screen and (min-width: "768px") {
        padding: 10px;
        width: 25px;
        height: 30px;
        font-size: 1.8rem;
    }
}

.check{
    padding: 10px;
    margin-top: 20px;
    background: none;
    border: 5px groove var(--cta-dark);
    color: var(--cta-dark);

    &:hover{
        border: 5px groove var(--cta-hov-dark);
        color: var(--cta-hov-dark);
    }
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 50px;
    text-align: center;
}

.lettersWrapper{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .letters{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 30px 20px;
        background-color: var(--very-transparent-white);
        border-radius: 20px;
        padding: 10px;
    }
}

.charList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    p{
        margin-left: 5px;
        color: var(--black);
        background-color: var(--transparent-white);
        padding: 5px 10px 5px;
        font-size: 1.2rem;
        border-radius: 10px;
    }
}

.charListOrange{
    @extend .charList;

    p{
        background-color: var(--orange);
    }
}

.victory{
    margin: 20px 0 20px;
}

.ctaDefinition{
    padding: 10px;
    margin: 5px;
    background: none;
    color: var(--cta-dark);
    border: none;
    font-size: 1.1rem;

    &:hover{
        color: var(--cta-hov-dark);
    }
}

@keyframes trebble {
    0%{

    }
    25%{
        transform: translateX(10px) rotateZ(10deg);
    }
    50%{
        transform: translateX(-10px) rotateZ(10deg);
    }
    75%{
        transform: translateX(10px) rotateZ(-10deg);
    }
    100%{
        transform: translateX(-10px) rotateZ(-10deg);
    }
}