.text{
    color: var(--white);
    margin-left: 20px;
}

.text::after{
    content: '||';
    width: 5px;
    margin-left: 3px;
    background-color: var(--white);
    animation: blink-animation 1s step-start 0s infinite;
    -webkit-animation: blink-animation 1s step-start 0s infinite;

}
@keyframes blink-animation {
    50% {
        opacity: 0.0;
      }
    
}
@-webkit-keyframes blink-animation {
    50% {
        opacity: 0.0;
      }
    
}