.profescional {
 border-radius: 50%;
 overflow: visible;
}

.profescionalWrapper {
 border-radius: 50%;
 box-shadow: 0px 50px 100px -50px var(--prof-box-shad-dark);
 width: 200px;
 height: 200px;
}
