:root{
    --pink: #FD76CB;
    --orange: #FFAC30;
    --black: #000000;
    --white: #FFFEFD;

    --transparent-black: #00000088;
    --transparent-pink: #FD76CB88;
    --transparent-orange: #FFAC3088;
    --transparent-white: #FFFEFD88;

    background-color: var(--black);
    color: var(--white);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}