:root{
    --pink: #FD76CB;
    --orange: #FFAC30;
    --black: #000000;
    --white: #FFFEFD;

    --green: #00c400;
    --grey: #9d9d9d;
    --strong-pink: #ff00a1;
    --strong-orange: #fd9800;

    --transparent-black: #00000088;
    --transparent-pink: #FD76CB88;
    --transparent-orange: #FFAC3088;
    --transparent-white: #FFFEFD88;

    --transparent-green: #00aa0088;

    --very-transparent-white: #fffefd0e;
    --very-transparent-black: #0000000e;

    --nav-bar-height: 75px;

    background-color: var(--black);
    color: var(--white);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    
    scroll-behavior: smooth;
}

body {
    background-attachment: fixed;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--transparent-orange);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--orange);
}