.wrap{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.skills{
    > *{
        padding: 10px 0 10px;
    }
    width: 90%;
    animation: fade-in 1s ease-in-out;
    
    :nth-child(odd){
        :nth-child(2){
            > * {
                background-color: var(--transparent-pink) ;
            }
        }
    }
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}