.text{
    margin-left: 20px;
    height: 2rem;
    text-align: center;
}

.text::after{
    content: '█';
    width: 5px;
    background-color: inherit;
    font-weight: bolder;
    -webkit-animation: blink-animation 1s step-start 0s infinite;
    animation: blink-animation 1s step-start 0s infinite;
}

.headingText{
    @extend .text;
}

.paragraphText{
    @extend .text;
}

@keyframes blink-animation {
    50% {
        opacity: 0.0;
      }
    
}
@-webkit-keyframes blink-animation {
    50% {
        opacity: 0.0;
      }
    
}