.wrap{
    width: 100%;
}

.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}

.barWrap{
    position: relative;
    height: 9px;
    border: 2px solid var(--transparent-white);
    width: 100%;
    border-radius: 20px;
}

.light{
    border: 2px solid var(--transparent-black);
}