.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 200px;
  margin-top: 200px;
  width: 100%;

  @media screen and (min-width: '768px') {
    flex-direction: row;
  }
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  @media screen and (min-width: '768px') {
    width: 40%;
  }

  .icon {
    height: 40px;
    :nth-child(1) {
      transition: fill 100ms;
      &:hover {
        fill: var(--cta-hov-dark);
      }
    }
  }
}

.contacts {
  margin-bottom: 50px;
  @media screen and (min-width: '768px') {
    margin-bottom: 0;
  }
}
