.introduce{
    opacity: 0.5;
}

.wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width: "768px") {
        flex-direction: row-reverse;
    }
}

.profileWrap{
    @media screen and (min-width: "768px") {
        margin-right: 10%;
    }
}
.typeWrap{
    @media screen and (min-width: "768px") {
        margin-left: 10%;
    }
}